<div class="center jumbotron">
<% if logged_in? %>
<h1>Weight progress</h1>

<ul class="users">
  <%= line_chart @daily_weights.group(:date).average(:daily_weight), curve: false %>
</ul>

<% else %>
  <h1>Calorie Management App</h1>
  <br>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg custom-btn" %>
<% end %>

</div>
