<div class="center jumbotron">
<% if logged_in? %>
<h1>Progress</h1>

<ul class="users">
  <% @daily_weights.each do |daily_weight| %>
    <li>
      <%= daily_weight.daily_weight  %>
      <%= daily_weight.date  %>
    </li>
  <% end %>

  <%= line_chart @daily_weights.group(:date).average(:daily_weight), curve: false %>
</ul>

<% else %>
  <h1>Welcome to the Calorie Management App</h1>

  <h2>
    This is the home page of calorie management application for body make. 
  </h2>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>

</div>
