<div class="center jumbotron">
<% if logged_in? %>
<h1>Progress</h1>

<% else %>
  <h1>Welcome to the Calorie Management App</h1>

  <h2>
    This is the home page of calorie management application for body make. 
  </h2>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>

</div>
