<div class="center jumbotron">

  <h1>Weight records</h1>
<ul class="users">
   <table class="table table-bordered record-tbl text-center">
      <tbody>
        <% @daily_weights.each do |daily_weight| %>
          <tr>
            <td><%= daily_weight.date %></td>
            <td><%= daily_weight.daily_weight %>kg</td>
          </tr>
        <% end %>
      </tbody>
    </table>
</ul>

</div>
