<div class="center jumbotron">

  <h1>Weight records</h1>
  <div class="user-back">
   <table class="table table-primary user-tbl">
      <tbody>
        <% @daily_weights.each do |daily_weight| %>
          <tr>
            <td><%= daily_weight.date %></td>
            <td><%= daily_weight.daily_weight %>kg</td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

</div>
